h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;
}
input{
    padding: 10px;
   color: black;
   padding: 17px;
   margin: 2% 60% 2% 40%;
   border: rgb(0, 0, 0) 1px solid;
   border-radius: 5px;
   width: 15%;
   display: block;
}
button{
border-radius: 12px;
border: 4px;
width: 15%;
height: 30px;
margin: 0 60% 0 40%;
}

#ht{
text-align:left;

}
/*id="ht">Классическая виселица,<br> пишите в нижнем поле одну букву затем жмите на проверить букву,<br> если буква правельная то она появится поле заместо звёздочек,<br> если же нет то колоичество попыток снижается, если попытки спустистя до нуля то игра окончена. <br> что-бы начать игру нажмите на "Начать игру"*\
